# =====================================================
# ENVIRONMENT VARIABLES
# =====================================================

.env
.env.*
!.env.example

# =====================================================
# PYTHON
# =====================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# =====================================================
# VIRTUAL ENVIRONMENTS
# =====================================================

venv/
.envrc

# =====================================================
# PYTEST / CACHE
# =====================================================

.pytest_cache/
.coverage
htmlcov/

# =====================================================
# ALEMBIC
# =====================================================

*.db
local.db
dev.db

# =====================================================
# MACOS
# =====================================================

.DS_Store

# =====================================================
# VSCODE
# =====================================================

.vscode/

# =====================================================
# NODE / FRONTEND
# =====================================================

node_modules/
.expo/
dist/
build/

# =====================================================
# LOGS
# =====================================================

*.logenv.yaml
env.yaml
